project/xml-resources/web-service-references/TTTWebService/wsdl/localhost_8080/TTTWebApplication/TTTWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.james.ttt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.james.ttt/" name="TTTWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.james.ttt/" schemaLocation="http://localhost:8080/TTTWebApplication/TTTWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getGameState">
<part name="parameters" element="tns:getGameState"/>
</message>
<message name="getGameStateResponse">
<part name="parameters" element="tns:getGameStateResponse"/>
</message>
<message name="leagueTable">
<part name="parameters" element="tns:leagueTable"/>
</message>
<message name="leagueTableResponse">
<part name="parameters" element="tns:leagueTableResponse"/>
</message>
<message name="showAllMyGames">
<part name="parameters" element="tns:showAllMyGames"/>
</message>
<message name="showAllMyGamesResponse">
<part name="parameters" element="tns:showAllMyGamesResponse"/>
</message>
<message name="takeSquare">
<part name="parameters" element="tns:takeSquare"/>
</message>
<message name="takeSquareResponse">
<part name="parameters" element="tns:takeSquareResponse"/>
</message>
<message name="setGameState">
<part name="parameters" element="tns:setGameState"/>
</message>
<message name="setGameStateResponse">
<part name="parameters" element="tns:setGameStateResponse"/>
</message>
<message name="deleteGame">
<part name="parameters" element="tns:deleteGame"/>
</message>
<message name="deleteGameResponse">
<part name="parameters" element="tns:deleteGameResponse"/>
</message>
<message name="showMyOpenGames">
<part name="parameters" element="tns:showMyOpenGames"/>
</message>
<message name="showMyOpenGamesResponse">
<part name="parameters" element="tns:showMyOpenGamesResponse"/>
</message>
<message name="showOpenGames">
<part name="parameters" element="tns:showOpenGames"/>
</message>
<message name="showOpenGamesResponse">
<part name="parameters" element="tns:showOpenGamesResponse"/>
</message>
<message name="getBoard">
<part name="parameters" element="tns:getBoard"/>
</message>
<message name="getBoardResponse">
<part name="parameters" element="tns:getBoardResponse"/>
</message>
<message name="newGame">
<part name="parameters" element="tns:newGame"/>
</message>
<message name="newGameResponse">
<part name="parameters" element="tns:newGameResponse"/>
</message>
<message name="checkWin">
<part name="parameters" element="tns:checkWin"/>
</message>
<message name="checkWinResponse">
<part name="parameters" element="tns:checkWinResponse"/>
</message>
<message name="checkSquare">
<part name="parameters" element="tns:checkSquare"/>
</message>
<message name="checkSquareResponse">
<part name="parameters" element="tns:checkSquareResponse"/>
</message>
<message name="joinGame">
<part name="parameters" element="tns:joinGame"/>
</message>
<message name="joinGameResponse">
<part name="parameters" element="tns:joinGameResponse"/>
</message>
<portType name="TTTWebService">
<operation name="register">
<input wsam:Action="http://server.james.ttt/TTTWebService/registerRequest" message="tns:register"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://server.james.ttt/TTTWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getGameState">
<input wsam:Action="http://server.james.ttt/TTTWebService/getGameStateRequest" message="tns:getGameState"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/getGameStateResponse" message="tns:getGameStateResponse"/>
</operation>
<operation name="leagueTable">
<input wsam:Action="http://server.james.ttt/TTTWebService/leagueTableRequest" message="tns:leagueTable"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/leagueTableResponse" message="tns:leagueTableResponse"/>
</operation>
<operation name="showAllMyGames">
<input wsam:Action="http://server.james.ttt/TTTWebService/showAllMyGamesRequest" message="tns:showAllMyGames"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/showAllMyGamesResponse" message="tns:showAllMyGamesResponse"/>
</operation>
<operation name="takeSquare">
<input wsam:Action="http://server.james.ttt/TTTWebService/takeSquareRequest" message="tns:takeSquare"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/takeSquareResponse" message="tns:takeSquareResponse"/>
</operation>
<operation name="setGameState">
<input wsam:Action="http://server.james.ttt/TTTWebService/setGameStateRequest" message="tns:setGameState"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/setGameStateResponse" message="tns:setGameStateResponse"/>
</operation>
<operation name="deleteGame">
<input wsam:Action="http://server.james.ttt/TTTWebService/deleteGameRequest" message="tns:deleteGame"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/deleteGameResponse" message="tns:deleteGameResponse"/>
</operation>
<operation name="showMyOpenGames">
<input wsam:Action="http://server.james.ttt/TTTWebService/showMyOpenGamesRequest" message="tns:showMyOpenGames"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/showMyOpenGamesResponse" message="tns:showMyOpenGamesResponse"/>
</operation>
<operation name="showOpenGames">
<input wsam:Action="http://server.james.ttt/TTTWebService/showOpenGamesRequest" message="tns:showOpenGames"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/showOpenGamesResponse" message="tns:showOpenGamesResponse"/>
</operation>
<operation name="getBoard">
<input wsam:Action="http://server.james.ttt/TTTWebService/getBoardRequest" message="tns:getBoard"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/getBoardResponse" message="tns:getBoardResponse"/>
</operation>
<operation name="newGame">
<input wsam:Action="http://server.james.ttt/TTTWebService/newGameRequest" message="tns:newGame"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/newGameResponse" message="tns:newGameResponse"/>
</operation>
<operation name="checkWin">
<input wsam:Action="http://server.james.ttt/TTTWebService/checkWinRequest" message="tns:checkWin"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/checkWinResponse" message="tns:checkWinResponse"/>
</operation>
<operation name="checkSquare">
<input wsam:Action="http://server.james.ttt/TTTWebService/checkSquareRequest" message="tns:checkSquare"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/checkSquareResponse" message="tns:checkSquareResponse"/>
</operation>
<operation name="joinGame">
<input wsam:Action="http://server.james.ttt/TTTWebService/joinGameRequest" message="tns:joinGame"/>
<output wsam:Action="http://server.james.ttt/TTTWebService/joinGameResponse" message="tns:joinGameResponse"/>
</operation>
</portType>
<binding name="TTTWebServicePortBinding" type="tns:TTTWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGameState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="leagueTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllMyGames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="takeSquare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setGameState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showMyOpenGames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showOpenGames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBoard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkWin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkSquare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="joinGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TTTWebService">
<port name="TTTWebServicePort" binding="tns:TTTWebServicePortBinding">
<soap:address location="http://localhost:8080/TTTWebApplication/TTTWebService"/>
</port>
</service>
</definitions>